<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Expenses</h1>
	<table>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>Category</th>
			<th>Description</th>
			<th>Amount</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="expense : ${expenses}">
			<td th:text="${expense.getDate()}"></td>
			<td th:text="${expense.name}"></td>
			<td th:text="${expense.getCategory().getName()}"></td>
			<td th:text="${expense.description}"></td>
			<td th:text="${expense.amount}"></td>
			<td><a class="btn btn-danger">Delete</a></td>
			<td><a class="btn btn-warning">Edit</a></td>
		</tr>
	</table>
</body>
</html>